#checkpointPane {
	right: -15%;
	position: absolute;
	width: 20%;
	background-color: rgb(220,220,220);
	top:90px;
	min-height: -moz-calc(100% - 90px);
    min-height: -webkit-calc(100% - 90px);
    min-height: calc(100% - 90px);
	display: none;
}

#checkpointList {
	list-style: none;
}

#checkpointContainer {
	position: relative;
	left: 0;
	top: 1%;
	padding-bottom: 10px;
}

#checkpointPaneClose {
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 6px;
	background-position: -450px -66px;
}

#checkpointPaneClose:hover {
	background-color: grey;
}

#checkpointPaneClose:active {
	background-color: darkgrey;
}

#createCheckpointBtn {
	position: absolute;
	padding: 4px;
}

#createCheckpointBtn:hover {
	background-color: grey;
}

#createCheckpointBtn:active {
	background-color: darkgrey;
}

.checkpoint-label {
	position: relative;
	padding:3px 3px 3px 0px;
	border: 2px solid;
	box-shadow: inset 0px 0px 0px 0px #000000;
	margin: 2px 0px 2px 0;
}

.checkpoint-text {
	margin-left: 30px;
}

.checkbox {
	position: absolute;
	height: 23px;
	width: 1px;
	background-color: lightblue;
	bottom: 0;
}

.checkbox:hover {
	background-color: rgb(124, 192, 224);
}

.checkbox:active {
	background-color: rgb(25, 135, 187);
}

.orderbox {
	position: absolute;
	height: 23px;
	width: 21px;
	background-color: lightgreen;
	top: 0;
}

.removeCheckpointBtn {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1px 3px 1px 1px;
	background-color: red;
}

.icon-plus-sign {
	background-position: 4.5 -92px;
}

.icon-remove {
	background-position: -311px -1px;
}