#checkpointPane {
	right: -15%;
	position: absolute;
	width: 20%;
	background-color: rgb(220,220,220);
	top:90px;
	min-height: -moz-calc(100% - 90px);
    min-height: -webkit-calc(100% - 90px);
    min-height: calc(100% - 90px);
	display: none;
}

#checkpointList {
	
}

#checkpointPaneClose {

	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 6px;
	background-position: -450px -66px;
}

#checkpointPaneClose:hover {
	background-color: grey;
}

#checkpointPaneClose:active {
	background-color: darkgrey;
}