
#rightbackdrop{
	position:fixed;
	z-index:-1;
	width:75%;
	height:100%;
	left:25%;
	top:90px;
	background-color: lightgrey;
	box-shadow: inset 15px 0px 30px -30px black;
}

#cmd-input{
	position:fixed;
	padding:20px;
	width:45%;

	left:37%;
	bottom:30px;
	opacity:0.5;
}
#cmd-input:focus{
	color:blue;
}
#cmd-input:hover{
	opacity:1;
}

#bigContainer{
	padding: 30px 0px 80px 150px;
	background-color: lightgrey;
	box-shadow: inset 15px 0px 30px -30px black;
}

.date-label{
	/*background-color: gray;*/
	border-bottom: 1px solid gray;
	color: gray;
	padding:10px 0px 0px 0px;
	font-size:18px;
	font-family:Open Sans;
	//font-weight:bold;
}

.card-div{
	margin:15px;
	font-family: Open Sans;
}

.card-div-big{
	margin:70px 0px 50px 0px;
}

.card{
	//padding:15px 15px 1px 15px;
	margin: 10px 10px 0px 10px;
	//font-size:14px;
	font-size:30px;
}
.card:hover{
	border-bottom: 1px solid gray;
}

.card-number{
	background-color: darkred;
	color:white;
	padding:15px;
	font-size:50px;
}

.card-time{
	padding:15px 15px 50px 15px;
	font-size:50px;
	margin-bottom:50px;
}

.card-date{
	padding:15px 15px 15px 15px;
	font-size:30px;
}
