body{
	transition: transform 0.4s;
	overflow-x: hidden;
	border-top: 5px solid gray;
	font-size: 25px;
}

h3{
	color: dimGray;
}

.jumbotron{
	font-size: 90px;
	line-height: 1;
	width:100%;
	text-align:center;

	padding-top: 10px;
	padding-bottom:15px;
}

#title{
	border-bottom: 1px solid brown;
	padding-bottom:10px;
}

#subtitle{
	width:100%;
	text-align:center;
}

#loginpane{
	position:absolute;
	width: 30%;
	border-radius:15px;
	padding:2px 10px 2px 10px;
	left: 53%;
	top:32%;

	background-color: lightgray;
	box-shadow: inset 0px -1px 15px -3px gray;
}

#registerpane{
	position:absolute;
	width: 30%;
	border-radius:15px;
	padding:2px 10px 2px 10px;
	right:53%;
	top:32%;
	text-align:right;

	background-color: lightgray;
	box-shadow: inset 0px -1px 15px -3px gray;
}

td{
	font-size:15px;
}

footer{
	width:100%;
	position:absolute;
	bottom:50px;
	text-align:center;
}

ul{
	width:60%;
	border-top:1px solid gray;
	margin-left:20%;

	padding-top:10px;
}

li{
	display:inline;
	margin-right:30px;
	padding:5px 20px;
	transition-property: border-top-width;
  	transition-duration: .2s; 
}
li:hover{
	/*background-color: dimgray;*/
	border-top:5px solid black;
	/*font-weight: bolder;*/
	color:crimson;
}

.suggestion{
	color: rgb(55, 143, 240);
	font-style: italic;
}





