body{
	transition: transform 0.4s;
}

.transition{
	-webkit-transition: all 0.4s ease-in-out;
	-webkit-backface-visibility: hidden;
}

div{
	outline:none;
}

#leftpane{
	width:25%;
	//height:100%;
	/*position:relative;*/
	position:absolute;
	top:90px;
	/*left:0;*/
}

#checkpointPane {
	right: -200;
}

#logout {
	position: absolute;
	right: 0%;
	top: 0%;
	margin: 0px;
	font-weight: bold;
	text-align: center;
	cursor: default;
	padding: 7px;
}

#logout:hover {
	background-color: lightgrey;
}

#logout:active {
	background-color: grey;
}

#rightpane{
	width:75%;
	position:relative;
	left:25%;
}

.suggestion{
	color: rgb(55, 143, 240);
	font-style: italic;
}


#login-overlay {
	display: none;
}

#rlBtn {
	position: fixed;
	top: 20px;
	right: 20px;
}

.cover {
	background-color: gray;
	opacity: .7;
	z-index: 1000;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

.pop-up {
	background-color: white;
	z-index: 1001;
	position: absolute;
	margin-top: 10px;
	width: 50%;
	left: 25%;
	top: 10%;
	padding: 40px;
	text-align: left;
	border-radius: 30px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}