doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/google-fonts.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/index-style.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/goal-style.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/heading-style.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/content-style.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/checkpoint-style.css', type='text/css')
		script(src='/javascripts/jquery-1.10.2.js')
	
	body(style='margin:0; background-color: #F2F2F2;')
		block content