doctype html
html (lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(href='css/google-fonts.css', rel='stylesheet', type='text/css')
    link(href='css/index-style.css', rel='stylesheet', type='text/css')

    script(src='js/jquery-1.10.2.js')
  body
    block content