extends layout

block content
	.jumbotron
		span#title goalkeeper

	p#subtitle.lead
		i behind every winning team is a kick-ass goalie.

	#loginpane
		h3 Login to Goalkeeper
		form(name="", method="", action="")