// <?php include('init.php');?>
doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/goal-style.css')
		link(rel='stylesheet', href='css/heading-style.css')
		link(rel='stylesheet', href='css/content-style.css')
		link(rel='stylesheet', href='css/checkpoint-style.css')
		link(href='css/google-fonts.css', rel='stylesheet', type='text/css')
		link(href='css/style.css', rel='stylesheet', type='text/css')
	
	body(style='margin:0; background-color: #F2F2F2;')
		header

		// Left side: goals, mostly
		#leftpane
			#topbar
				input(type='text', id='searchbar', placeholder='search...')
				#searchBtn
					i#searchIcon.icon.icon-search
				#createGoalBtn +

			#goalContainer

			#suggestNewGoal.suggestion(style='position:relative; top:0px; left:37px; font-family:Open Sans; line-height:18px')
				stuck?  try one of these:
				br
				br
				ul
					li
						a(onclick="app.appView.goalList.createGoal('write a short story')")
							write a short story
					li
						a(onclick="app.appView.goalList.createGoal('sleep early')")
							sleep early
					li
						a(onclick="app.appView.goalList.createGoal('call parents')")
							call parents tomorrow
		
		//- Right side: main content, stuff...
		#rightpane
			#bigContainer
			input#cmd-input(type="text", placeholder="what happened?")
			#rightbackdrop

		#checkpointPane
				.icon-chevron-right#checkpointPaneClose
				.icon-plus-sign#createCheckpointBtn
				#checkpointContainer

		// <script>
		// 	var username = "<?php echo $_SESSION['uname'];?>"
		// </script>

		script(src="js/jquery-1.10.2.js")
		script(src="js/bootstrap.min.js")
		script(src="js/underscore-1.5.1.js")
		script(src="js/backbone-min.js")

		script(src="js/models/models.js")
		script(src="js/collections/collections.js")
		script(src="js/views/appView.js")
		script(src="js/views/content.js")
		script(src="js/views/goals.js")
		script(src="js/views/heading.js")
		script(src="js/views/checkpoint.js")
		script(src="js/app.js")